{% extends "base.html" %}

{% block banner %}
Django比價
{% endblock %}

{% block css %}

  .info{
    clear: both;

    height: 50px;
    margin:0px auto 50px;
  }


  .info .infoarea{
    float:left;
    padding:10px;
    height: 400px;
  }

  .info .infoarea img{
    width: 200px;
    margin-bottom: 10px;
  }

  .web{
    margin-bottom: 10px;
  }

  .pname{
    margin-bottom: 10px;
  }

  .info >p{
    font-size: 28px;
    padding-top: 20px;
    font-weight: bold;
  }

  ul{
    padding: 0;
  }


  li{
    list-style-type: none;
  }

  .price{
    width:135px;
    height:60px;
  }

  .by_accuracy{
    width:50px;
    height:60px;
    float:left;
  }

  .by_price{
    width:85px;
    height:60px;
  }



{% endblock %}


{% block content %}

  <form method="get">
    <div id="scraping" class="form-group col-md-7 mx-auto">
      <input id="product" type="text" name="product" class="form-control" placeholder="ex. 口罩,酒精..."/>
      <input id="search" type="submit" name="submit" class="form-control btn btn-lg btn-dark" value="查詢" />


    </div>
  </form>

  <div id="SwitchBar">
      <dl class="bar">
        <dd class="sort">
          <input id="by_accuracy" type="button" value="精準度" disabled="disabled" onclick="javascript:location.href='/shop/?product={{product}}&submit=查詢'"/>
        </dd>
        <dd class="sort">
          <input id="by_price" type="button" value="價錢低到高" onclick="javascript:location.href='/shop/?product={{product}}&submit=查詢&sortby=price'"/>
        </dd>
      </dl>
  </div>


  <div class='info'>

    {% for plist in product_list %}

      <div class='infoarea col-xs-4 col-sm-6 col-md-4 col-lg-3'>

        <div style="height: 360px;margin: auto;width: 240px;padding:0 20px;border-style: solid;border-width:1px;border-color: #F5F5F5;">
          <ul>

            <li class="web">商城：{{plist.webname}}</li>
            <li class="img"><a href="{{plist.link}}" target="_blank"><img src="{{plist.img}}"  /></a></li>
            <li class="pname">產品名稱：{{plist.pname}}</li>
            <li>價格：{{plist.price}}</li>

          </ul>
        </div>

      </div>

    {% endfor %}

  </div>

  <script type="text/javascript">

    $("#search").click(function(){
      var name = $("#product").val();
      if (name != ''){

      }else{
        alert('請輸入商品名稱');
        event.preventDefault()     
      }
    });

    $("#by_price").click(function(){
      $("#by_price").attr('disabled', true);
      $("#by_accuracy").attr('disabled', false);
    });

    $("#by_accuracy").click(function goBack(){
      $("#by_price").attr('disabled', true);
      $("#by_accuracy").attr('disabled', false);
    });

  </script>


{% endblock %}
