
{% extends "base2.html" %}
{% load static %}
{% block title %}購物車{% endblock %}

{% block css %}

table {
     border-collapse: collapse;
 }

 .threeboder {
     border: 1px solid #5B96D0;
 }

 .trow {
     border-right: 1px solid #5B96D0;
     border-bottom: 1px solid #5A96D6;
 }

 .theader {
     background-color: #A5D3FF;
     font-size: 14px;
     border-right: 1px solid #5B96D0;
     border-bottom: 1px solid #5A96D6;
 }

{% endblock %}


{% block body %}

<form action="/store/submit_orders/" method="post">
    {% csrf_token %}

    <br>
    <table width="100%" border="1" align="center" class="threeboder">
        <tr bgcolor="#A5D3FF">
            <td height="50" align="center" class="theader" colspan="2">商品名稱</td>
            <td width="8%" align="center" class="theader">數量</td>
            <td width="15%" align="center" class="theader">單價</td>
            <td width="15%" align="center" class="theader">小計</td>
        </tr>
        {% for item in list %}
        <tr style="height:150px;"> 
            <td><img src="{{ item.2 }}" style="width:100px; height:100px;" /></td>
            <td height="50" align="left" class="trow">{{ item.1 }} </td>
            <td align="center" class="trow">
                <input name="quantity_{{ item.0 }}" type="text" value="{{ item.4 }}" onblur="calc({{item.0}},{{item.0}},{{item.3}}, this)">
            </td>
            <td align="center" class="trow"><span id="price_{{ item.0 }}">{{ item.3 }}</span></td>
            <td align="center" class="trow"><span id="subtotal_{{ item.0 }}">{{ item.5 }}</span>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td height="50" colspan="5" align="right">合計：$<span id="total">{{ total }}</span>  </td>
        </tr>
    </table>
    <br>
    <div align="center">
        <a href="#" class="submit_orders checkout"><input type="image" src="{% static 'images/button_checkout.png' %}" style="width:120px; height:47px;" border="0"/></a>  
    </div>
</form>

<script type="text/javascript">

  $('.list').removeClass("active");
  $('.cart').addClass("active");

  $('.checkout').click(function(event){
    var list = {{list.0}};
    console.log(list);
    var len = list.length;

    if (len == '0'){
      alert("您的購物車是空的喔！！");
      event.preventDefault();
    }
  });

  function calc(rowid,name,price,quantityInput) {
    console.log(name);
      quantity = quantityInput.value
      if (isNaN(quantity)) {
          alert("不是有效的數值！");
          quantityInput.value = 0;
          quantity = quantityInput.value
          quantityInput.focus();
      }

      // 單價id
      //var price_id = 'price_' + rowid;
      // 單價
      //var price = parseFloat(document.getElementById(price_id).innerText);
      // 小計id
      //var subtotal_id = 'subtotal_' + rowid;
      // 小計(更新之前)
      //subtotal1 = parseFloat(document.getElementById(subtotal_id).innerText);
      //小計(更新之後)
      //subtotal2 = quantity * price;
      //subtotal2 = subtotal2.toFixed(1);
      //document.getElementById(subtotal_id).innerText = subtotal2;
      //subtotal2 = parseInt(subtotal2);

      var update_cart = "http://vincent-djangodemo01.herokuapp.com/store/add/?id="+rowid+"&name="+name+"&price="+price+"&quantity="+quantity+"&page=cart";
      console.log(update_cart);
      window.location.replace(update_cart);

      //總價
      //total = parseFloat(document.getElementById('total').innerText);
      //total = total-subtotal1+subtotal2;
      //total = total.toFixed(1);
      //document.getElementById('total').innerText = total;

  }



</script>

{% endblock %}
