
{% extends "base2.html" %}
{% load static %}
{% block title %}客戶註冊{% endblock %}


{% block css %}

	.title {
		font-size: 20px;
		color: #FF6600;
		font-style: italic;
		margin-top: 50px;
	}

	.add_cart{
		float: right;
	}

{% endblock %}


{% block body %}

<div class="text3 title" align="center">{{ goods.name }}</div><br><br>
<table width="100%" border="0" align="center">
    <tr>
			<td width="40%" align="right">
				<div><img src="{{ goods.image }}" width="360px" height="360px"/></div>
        <br>
			</td>

			<td>
				<div style="width:80%; height:200;">
					<dl style="margin-left:100px;">
						<dd style="width:25%;">特色：</dd>
						<dd style="width:25%; margin-left:30px;">{{ goods.description }}</dd>
					</dl>
				</div>

				<div align="center" class="text4">價格：<span class="title">{{ goods.price }}元</span></div>

				<br>

				<div style="float:left; margin-left:150px; margin-top:40px;">
					<a class="add_cart" href="/store/add/?id={{ goods.id}}&name={{ goods.name }}&image={{goods.image}}&price={{ goods.price }}&quantity=1&page=detail">
						<img src="{% static 'images/button_add-to-cart.png' %}" style="width:185px; height:50px;"></a>
				</div>
			</td>
		</tr>
</table>

<script type="text/javascript">

	$('.cart').addClass("active");
	$('.list').removeClass("active");

	$('.add_cart').click(function(){
		alert("商品已加入購物車！！");
	});

</script>

{% endblock %}
